doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title CODikUM Регистрация
    script(src="https://code.jquery.com/jquery-3.5.1.min.js")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css", rel="stylesheet")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js")
    link(href="assets/css/styles.min.css", rel="stylesheet")
  body
    .container 
      .img 
      .content(id="content") 
        h1.content__title Регистрация
        form.login__form(id="regForm" action="" method="post")

          .step
            .content__progress-bar 
              .text-wrapper 
                span.progress-bar-text Заполнено
                span.progress-bar-value 0%
              .progress-bar

            .content__form.grid
              .content__input-wrapper
                input.input.lastName(type="text" id="lastName" placeholder=" " oninput="this.className = 'input'; inputValLength(this, 100);")
                label.input-label.placeholder(for="lastName") Фамилия*
                label.did-floating-label(for="lastName")
              .content__input-wrapper
                input.input.firstName(type="text" id="firstName" placeholder=" " oninput="this.className = 'input'; inputValLength(this, 30);")
                label.input-label.placeholder(for="firstName") Имя*
                label.did-floating-label(for="firstName")
              .content__input-wrapper
                input.input.patronymic(type="text" id="patronymic" placeholder=" " oninput="this.className = 'input'; inputValLength(this, 30);")
                label.input-label.placeholder(for="patronymic") Отчество
                label.did-floating-label(for="patronymic")
                  
          .step
            .content__progress-bar 
              .text-wrapper 
                span.progress-bar-text Заполнено
                span.progress-bar-value 33%
              .progress-bar.progress-bar_loc
            .content__form.grid              
              .content__input-wrapper
                select.login__select.login__select--city#city(name="city")
                  option(disabled selected value="")
                  option(value="nn") Нижний Новгород
                  option(value="arz") Арзамас
                  option(value="bal") Балахна
                  option(value="bor") Бор
                  option(value="v") Выкса
                  option(value="dzer") Дзержинск
                  option(value="kst") Кстово
                  option(value="pav") Павлово
                label.input-labels.placeholders(for="city") Населенный пункт*
                label.dids(for="city") Обязательное поле для ввода
              .content__input-wrapper
                select.login__select.login__select--edu#edu(name="edu")
                  option(disabled selected value="")
                  option(value="11") Школа №11
                  option(value="17g") Гимназия №17
                  option(value="32") Школа №32
                  option(value="34") Школа №34
                  option(value="45") Школа №45
                  option(value="48") Школа №48
                  option(value="56") Школа №56
                  option(value="131") Школа №131
                  option(value="135") Школа №135
                  option(value="140") Школа №140
                  option(value="154") Школа №154
                  option(value="174") Школа №174  
                label.input-labels.placeholders(for="edu") Образовательное учреждение*
                label.dids(for="edu") Обязательное поле для ввода           
              .content__input-wrapper
                select.login__select.login__select--teacher#teacher(name="teacher")
                  option(disabled selected value="")
                  option(value="AmosovaNS") Амосова Наталья Сергеевна
                  option(value="PetuhinaIV") Петухина Ирина Владимировна
                  option(value="UlbinaOV") Ульбина Ольга Викторовна
                label.input-labels.placeholders(for="teacher") ФИО учителя
                label.dids(for="teacher") Обязательное поле для ввода
              .content__input-wrapper    
                select.login__select.login__select--class#class(name="class")
                  option(disabled selected value="")
                  option(value="11a") 11 A
                  option(value="11b") 11 Б
                label.input-labels.placeholders(for="class") Класс
                label.dids(for="class") Обязательное поле для ввода
          .step
            .content__progress-bar 
              .text-wrapper 
                span.progress-bar-text Заполнено
                span.progress-bar-value 77%
              .progress-bar.progress-bar_end

            .content__form.grid
              .content__input-wrapper
                input.input.mail(type="email" id="emailReg" placeholder=" " oninput="this.className = 'input';")
                label.input-label.placeholder(for="emailReg") Электронная почта*
                label.did-floating-label(for="emailReg")
              .content__input-wrapper
                input.input.input__pass.pass(type="password" id="passwordReg" placeholder=" " oninput="this.className = 'input';")
                label.input-label.placeholder(for="passwordReg") Придумайте пароль*
                label.did-floating-label(for="passwordReg")
                mixin icon(name)
                  svg(class=`icon icon-${name}`)
                    use(xlink:href=`assets/images/sprite.svg#${name}`)
                .iconP
                  +icon("hide-pass")
                .iconText.d-none
                  +icon("open-pass")            
            p.content__text.content__text_end Пароль должен содержать не&nbsp;менее 8&nbsp;символов, в&nbsp;т.ч. цифру и&nbsp;спецсимвол ! %&nbsp;&amp; *

          .btn-wrapper.flex  
            a.content__btn-back(href="../index.html" id="btnBack") 
              mixin icon(name)
                svg(class=`icon icon-${name}`)
                  use(xlink:href=`assets/images/sprite.svg#${name}`)
              +icon('arrow')
            a.content__btn-back(href="#" type="button" id="prevBtn" onclick="nextPrev(-1);") 
              mixin icon(name)
                svg(class=`icon icon-${name}`)
                  use(xlink:href=`assets/images/sprite.svg#${name}`)
              +icon('arrow')
            a.content__form-btn.content__form-btn--text(href="#" type="button" id="nextBtn" onclick="nextPrev(1)")
      .modal(id="openModalReg")
        .modal-dialog
          .modal-content.grid
            .imgReg.content             
            h1.content__title Успех!
            span.content__text--modal Вам придет сообщение на почту как только Учитель подтвердит вашу регистрацию в системе.
            a.close.content__form-btn.margin24.content__form-btn--text(href="../index.html" title="Close") Закрыть
      .modal(id="openModalErr")
        .modal-dialog
          .modal-content.grid
            .imgErr.content             
            h1.content__title Что-то не так!!
            span.content__text--modal Случилась непредвиденная ошибка, перезагрузите страницу или попробуйте снова позже
            a.close.content__form-btn.margin24.content__form-btn--text(href="../reg.html" title="Close") Закрыть
              
    script(src="assets/js/userLocation.min.js") 
    script(src="assets/js/regEnd.min.js")
    script(src="assets/js/main.min.js")
       



      